body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

a {
  color: #00B7FF;
}


.card-panel {
  text-align: center
}

.card-title {
  padding-bottom: 15px;
}